<a href="https://colab.research.google.com/github/Durgaprasath01415/Python_Practice_Codekata_Absolute_Beginner/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6

In [5]:
k = int(input())
print(sum(range(k+1)))

4
10

6.Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes

In [12]:
N = int(input())
between_of = input()
L , R = map(int,between_of.split())
if(N > L) and ( N < R):
    print('yes')
else:
    print('no')

3
2 6
yes

7.Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [15]:
N = input()
K = N.split()[1]
nums = input()
if K in nums:
    print(nums.count(K)-1)
else:
    print('-1')

6 2
1 2 3 5 7 8
0

8.Given a range of 2 numbers (i.e) L and R count the number of prime numbers in the range (inclusive of L and R ).
Input Size : L <= R <= 100000(complexity O(n) read about Sieve of Eratosthenes)
Sample Testcase :
INPUT
2 5
OUTPUT
3

In [18]:
import math
N = input()
L = int(N.split()[0])
R = int(N.split()[1])
count = 0
for eachNum in range(L,R+1):
    if eachNum > 1:
        for i in range(2, int(math.sqrt(eachNum)) + 1):
            if (eachNum % i) == 0:
                break
        else:
            count +=1
print(count)

2 5
3

9.Write a code to get an integer N and print the sum of  values from 1 to N.


Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [20]:
N = input()
sum = 0
for i in range(1,int(N)+1):
    sum += i
print(sum)

10
55

10.Write a code to get an integer N and print the values from N to 1.


Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [21]:
N = int(input())
for i in range(N,0,-1):
    print(i)

10
10
9
8
7
6
5
4
3
2
1

11.Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100

In [19]:
person_in_clan = input()
kabali_clan = int(person_in_clan.split()[0])
opponent_clan = int(person_in_clan.split()[1])
print(opponent_clan - kabali_clan)

100 200
100

12.Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes

In [24]:
NK = input()
nums = input()
K = NK.split()[1]
if K in nums:
    print('yes')
else:
    print('no')

4 2
1 2 3 3
yes

13.Write a code to get an integer N and print the digits of the integer.


Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [29]:
N = input()
for i in range(len(str(N))):
  if i < len(str(N))-1:
    print(str(N)[i],end =" ")
  else:
    print(str(N)[i])

348
3 4 8

In [28]:
N = input()
print(" ".join(N))

348
3 4 8

14.Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4

In [ ]:
dimensions = input()
B = int(dimensions.split()[0])
H = int(dimensions.split()[1])
print(0.5 * B * H)

15.Write a code to get an integer N and print values from 1 till N in a separate line.


Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [30]:
N = int(input())

for i in range(1,N+1):
    print(i)

5
1
2
3
4
5

16.Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [34]:
sides = input()
A , B , C = map(int,sides.split())
if (A + B) > C and (A + C) > B and (B + C) > A:
    print('yes')
else:
    print('no')

1 2 3
1 2 3
no

17.Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd

In [35]:
nums = input()
N , M = map(int,nums.split())
if (N + M) % 2 == 0:
    print('even')
else:
    print('odd')

9 2
odd

18.Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81

In [37]:
nums = input()
A , B = map(int,nums.split())
print(A ** B)

3 4
81

19.Write a code to get the input and print it 5 times.


Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [38]:
N = int(input())

for i in range(5):
    print(N)

4
4
4
4
4
4

20.Write a program to get a string as input and reverse the string without using temporary variable.


Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [39]:
st = input()
for i in range(len(st)):
  if i > len(st):
    print(st[len(st)-i-1])
  else:
    print(st[len(st)-i-1],end="")

GUVI
IVUG

25.Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [41]:
sides = input()
A ,B ,C = map(int,sides.split())
if A != B and B != C and C != A:
    print('yes')
else:
    print('no')

3 4 5
yes

Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [45]:
s = input()
even_index = 0
odd_index = 1

s_c = ''
for c in range(len(s)):
    if(c % 2) == 0:
        s_c += s[odd_index]
        odd_index += 2
    else:
        s_c += s[even_index]
        even_index += 2
print(s_c)

codekata
ocedakat

30.Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [77]:
sides = input()
A ,B ,C = map(int,sides.split())
if (A**2 + B**2) == C**2:
    print('yes')
else:
    print('no')

3 4 5
yes

31.Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello

In [95]:
s = input()
s_ls = s.split()
s_ls.reverse()
print(*s_ls)

hello wrold
['wrold', 'hello']

32.Write a code get an integer number as input and print the odd and even digits of the number separately.


Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [101]:
num = int(input())
odd = []
even = []
while num != 0:
    r = num % 10
    if r % 2 == 0:
        even.append(str(r))  # Append as string for join()
    else:
        odd.append(str(r))   # Append as string for join()
    num //= 10

even.sort()
odd.sort()

print(" ".join(even))
print(" ".join(odd))

1234
2 4
1 3

34.Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes

In [100]:
nums = input()
N ,M = map(int,nums.split())
if N * M == N ** 2:
    print('yes')
else:
    print('no')

5 5
yes

In [ ]:
36.Write a code get an integer number as input and print the sum of the digits.


Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [102]:
num = int(input())
ans = 0
while num != 0:
  r = int(num % 10)
  ans = ans + r
  num = int(num / 10)
print(ans)

124
7

In [112]:
draws_input = input()
person_1 , person_2 = draws_input.split()
if person_1 == 'R' or person_1 == 'P' and person_2 == 'P' or person_2 =='R':
    print('P')
elif person_1 == 'P' or person_1 == 'S' and person_2 == 'S' or person_1 == 'P':
    print('S')
elif person_1 == 'S' or person_1 == 'R' and person_2 == 'R'or person_2 == 'S':
    print('R')
else:
    print('D')

P R
P

38.Let P represent Paper, R represent Rock and S represent Scissors. Given 2 out of the 3 determine which one wins. If its a draw print 'D'.
Sample Testcase :
INPUT
R P
OUTPUT
P

In [114]:
draws_input = input()
person_1 , person_2 = draws_input.split()
if person_1 == person_2:
    print('D')
elif person_1 == 'R' or person_1 == 'P' and person_2 == 'P' or person_2 =='R':
    print('P')
elif person_1 == 'P' or person_1 == 'S' and person_2 == 'S' or person_1 == 'P':
    print('S')
elif person_1 == 'S' or person_1 == 'R' and person_2 == 'R'or person_2 == 'S':
    print('R')

R R
D

41.Given a number N followed by N numbers.Find the smallest number and largest number and print both the indices(1 based indexing).
Input Size : N <= 100000
Sample Testcase :
INPUT
5
1 2 3 4 5
OUTPUT
1 5

In [5]:
n = input()
num = input()
nums = map(int, num.split())
nums = list(nums)
high = max(nums)
small = min(nums)
print(nums.index(small)+1,nums.index(high)+1)

5
1 2 3 4 5
1 5