<a href="https://colab.research.google.com/github/Durgaprasath01415/Python_Practice_Codekata_Absolute_Beginner/blob/main/Companies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a string and a number K, change every kth character to uppercase from beginning in string.
Sample Testcase :
INPUT
string 2
OUTPUT
sTrInG

In [33]:
S = input().split()
s = S[0]
k = int(S[1])
index = k
s2 = []
if len(s) < k:
    print(s)
else:
    for c in range(len(s)):
      if (c+1) <= len(s) and (c+1) == index:
        s2.append(s[c].upper())
        index += k
      else:
        s2.append(s[c])
    res = "".join(s2)
    print(res)

string 2
sTrInG

2.Given the values of a,b and x in the equation ax + b = y. Find the value of y.
Sample Testcase :
INPUT
3 5 2
OUTPUT
11

In [36]:
a,b,x = map(int,input().split())
# a,b,x = int(input().split())      Ask question in class
print((a*x)+b)

3 5 2
11

3.Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4

In [ ]:
dimensions = input()
B = int(dimensions.split()[0])
H = int(dimensions.split()[1])
print(0.5 * B * H)

4.Given a number 'N' print the sum of each digit to the power of number of digits in given input.
Example :
Input => 1234
=> ( 1 ^ 4 ) + ( 2 ^ 4 ) + ( 3 ^ 4 ) + ( 4 ^ 4 )
=> 1 + 16 + 81 + 256
Output => 354
N <=100000000000
Sample Testcase :
INPUT
1234
OUTPUT
354

In [37]:
inp = input()
size = len(inp)
sum = 0
for i in inp:
  sum += int(i)**size
print(sum)

1234
354

5.Given a number N followed by a list of N numbers. Write a program to reverse the list and print the list.
Input Size : 1 <= N <= 10000
Sample Testcases :
INPUT
7
1 2 3 4 5 6 7
OUTPUT
7->6->5->4->3->2->1

In [48]:
n = input()
s = input().split()
s.reverse()
print('->'.join(s))

7
1 2 3 4 5 6 7
7->6->5->4->3->2->1