<a href="https://colab.research.google.com/github/Durgaprasath01415/Python_Practice_Codekata_Absolute_Beginner/blob/main/Zoho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a roman numeral N, convert it into integer.Take L=50, C=100.If it is not a valid roman numeral print '-1'
Input Size : N <= 100
Sample Testcase :
INPUT
VI
OUTPUT
6
INPUT
Y
OUTPUT
-1

In [ ]:
roman = {'I':1,"V":5,'X':10,'L':50,'C':100,'D':500,"M":1000}
In = list(input())
dic = {}
for index,value in enumerate(In):
    dic[index] = value
sum = 0
if len(In) == 1:
    if In[0] in roman:
        print(roman[In[0]])
    else:
        print('-1')
else:
    for i in range(len(dic)):
        if dic[i] in roman:
            if i+1 < len(dic) and roman[dic[i]] < roman[dic[i+1]]:
                sum -= roman[dic[i]]
            else:
                sum += roman[dic[i]]
        else:
            print("-1")
    print(sum)

X
10

3.Given k sorted arrays of possibly different sizes, merge them and print the sorted output.
Input Size : N<=100
Example:
INPUT
k = 3
1 3
2 4 6
0 9 10 11
OUTPUT
0 1 2 3 4 6 9 10 11

In [ ]:
n = int(input())
ls = []
while n>0:
    ls.append(list(map(int,input().split())))
    n -= 1
print(ls)
all_one = []
for i in ls:
    all_one.extend(i)
all_one.sort()
print(*all_one)

3
1 3 2
4 6
0 9 10 11
[[1, 3, 2], [4, 6], [0, 9, 10, 11]]
[0, 1, 2, 3, 4, 6, 9, 10, 11]

7.Rajesh was going through alternative array sorting. He wishes to print the array alternatively. Hence hired you. Your task is to help rajesh in printing the array alternatively.



An alternative array is an array in which first element is maximum of the whole array second element is minimum of the whole array. Third element is the second largest. Fourth element is the second smallest And so on. print the array in the desired manner.




Input Description:
You are given with the length of array ‘n’. followed by ‘n’ space separated numbers.

Output Description:
Print the array as mentioned.

Sample Input :
5 1 7 11 16 19
Sample Output :
19 1 16 7 11

In [ ]:
n = int(input())
nums = list(map(int,input().split()))
nums_copy = nums.copy()
res = []
for i in range(n):
  if len(nums_copy) > 0:
    maxz = max(nums_copy)
    minz = min(nums_copy)
    if i%2 == 0:
      res.append(maxz)
      nums_copy.remove(maxz)
    else:
      res.append(minz)
      nums_copy.remove(minz)
print(*res)

5
1 7 11 16 19
19 1 16 7 11

Given a string as input, you have to reverse the string by keeping the punctuation and spaces intact. You have to modify the source
string itself without creating another string.


Input Description:
1<=string length<=500

Output Description:
Print the string in reverse

Sample Input :
A man, in the boat says : I see 1-2-3 in the sky
Sample Output :
y kse, ht ni3 21ee sIsy : a sta o-b-e ht nin amA

In [ ]:
s = input()
dic1 = {}
for index,key in enumerate(st):
  dic1[index] = len(key)
print('dic1 : ',dic1)
st_rev = list(reversed(s))
for j in st_rev:
  if j == " ":
    st_rev.remove(j)
print('st_rev : ',st_rev)
res = []
for k in dic1.values():
  while k > 0:
    if st_rev[0].isalpha() or st_rev[0].isdigit():
      res.append(st_rev.pop(0))
    k -= 1
print('res : ',res)

A man, in the boat says : I see 1-2-3 in the sky
dic1 :  {0: 1, 1: 4, 2: 2, 3: 3, 4: 4, 5: 4, 6: 1, 7: 1, 8: 3, 9: 5, 10: 2, 11: 3, 12: 3}
st_rev :  ['y', 'k', 's', 'e', 'h', 't', 'n', 'i', '3', '-', '2', '-', '1', 'e', 'e', 's', 'I', ':', 's', 'y', 'a', 's', 't', 'a', 'o', 'b', 'e', 'h', 't', 'n', 'i', ',', 'n', 'a', 'm', 'A']
res :  ['y', 'k', 's', 'e', 'h', 't', 'n', 'i', '3']

In [ ]:
import pickle
# dumps
my_data = ['honda','toyota','ford','bmw','Royal','kia','benz']
with open ('demos.pickle','wb') as file:
     pickle_data = pickle.dumps(my_data)
     file.write(pickle_data)

In [ ]:
# unpickling
with open ('demos.pickle','rb') as file:
    resu_data = pickle.loads(file.read())
    print(resu_data)

['honda', 'toyota', 'ford', 'bmw', 'Royal', 'kia', 'benz']